<div class="contact-layout">

  <div class="contact-card layer-medium">
   <a href="mailto:caorlingiancarlo@gmail.com">
      <img src="/images/lines/mail.png" alt="Email">
    </a>
  </div>

  <div class="contact-card layer-fast">
  <a href="https://www.linkedin.com/in/gian-caorlin" target="_blank">
      <img src="/images/lines/linkedin.png" alt="LinkedIn">
    </a>
  </div>

  <div class="contact-card layer-slow">
    <a href="https://github.com/l5partanl" target="_blank">
      <img src="/images/lines/git.png" alt="GitHub">
    </a>
  </div>

</div>