<div class="contact-layout">
  
  <div class="lines layer-medium">
    <img src="/assets/images/lines/reach.png" alt="Gian Caorlin" />
  </div>

  <div class="contact-card layer-medium">
    <a href="mailto:caorlingiancarlo@gmail.com">
      <img src="/assets/images/lines/mail.png" alt="Email" />
    </a>
  </div>

  <div class="contact-card layer-fast">
    <a href="https://www.linkedin.com/in/gian-caorlin" target="_blank">
      <img src="/assets/images/lines/linkedin.png" alt="LinkedIn" />
    </a>
  </div>

  <div class="contact-card layer-slow">
    <a href="https://github.com/l5partanl" target="_blank">
      <img src="/assets/images/lines/git.png" alt="GitHub" />
    </a>
  </div>
</div>
