.contact-layout {
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;
}

.contact-card {
  width: 220px;
  height: 120px;

  background: rgba(255,255,255,.08);

  border: 1px solid rgba(255,255,255,.2);

  display: flex;
  align-items: center;
  justify-content: center;
}