.about {
  height: 100vh;
  display: flex;
  align-items: center;
  padding-inline: 8vw;
padding-block: clamp(1rem, 4vh, 5rem);
  color: white;
  width: 90vw;
  max-width: 880px;
  gap: 3rem;
  margin: 0 auto;
  flex-wrap: wrap;
}

.about-col.photo img {
  max-width: 240px;
  border-radius: 16px;
}

.about-col.text {
  flex: 1;
}

.about h1 {
  position: relative;
  display: inline-block;
  margin: 0;
  line-height: 1;
}

.about h1 img {
  width: 220px;
  height: auto;

  margin-bottom: 0rem;

  transform: translateY(10px) translateX(-12px) rotate(-2deg);
}

.highlighted-name {
  position: relative;
  font-weight: 900;
  font-size: 3.5rem;
  display: inline-block;
}

.highlighted-name::after {
  content: "";

  position: absolute;
  left: 0;
  bottom: 0.05em;

  width: 100%;
  height: 0.4em;

  background: linear-gradient(
    135deg,
    var(--pill-color-start),
    var(--pill-color-end)
  );

  z-index: -1;

  opacity: 0;

  transform: scaleX(0);
  transform-origin: right center;

  transition:
    transform 9s cubic-bezier(0.22, 1, 0.36, 1),
    opacity 0.6s ease;
}

.highlighted-name.is-visible::after {
  opacity: 1;

  transform: scaleX(1);

  transform-origin: left center;
}

.about-col.text .hello {
font-family: 'Dancing Script', cursive;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--text-dark);
}

.about-col.text h2 {
  font-size: 1.2rem;
  color: var(--primary-color);
  margin-bottom: 1rem;
}

.about-col.text p {
  font-size: 1rem;
  line-height: 1.6;
  margin-bottom: 1rem;
  color: var(--text-dark);
}

.about-col.text ul.social {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}

.icon-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 30px;
}

.icon-btn img {
  width: 46px;
  height: 46px;
  object-fit: contain;
  transition: transform 0.5s ease;
}

.icon-btn:hover img {
  transform: scale(1.4) rotate(7deg);
  opacity: 1;
}

@media (max-width: 576px) {
  .about-bio {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
    margin-top: 2rem;
  }

  .about-col.photo img {
    max-width: 200px;
    margin: 0 auto;
    transform: translateY(40px);
  }

  .highlighted-name {
  font-size: 2.75rem;
}

  .about-col.text {
    width: 100%;
    text-align: left;
  }

  .about-col.text h1 {
    font-size: 1.8rem;
    text-align: left;
  }

  .about h1 img {
  width: 200px;
  transform: translateY(16px) translateX(-10px) rotate(-2deg);
}

  .about-col.text .hello {
    font-size: 1.2rem;
    text-align: left;
  }

  .about-col.text h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }

  .about-col.text p {
    font-size: 0.95rem;
    line-height: 1.5;
    padding-right: 2rem;
  }

  .about-col.text ul.social {
    margin-top: 2rem;
      gap: 0.5rem;

margin: 10;
  }

  .section-intro h1 {
    font-size: 2rem;
  }

  .section-intro .hello {
    font-size: 1.2rem;
  }

  .icon-btn {
    width: 42px;
    height: 42px;
  }

}
