<div class="section-layout">

<div class="about">
   <div class="about-col photo layer-medium">
<img src="/images/profile.png" alt="Gian Caorlin">
    </div>

    <div class="about-col text layer-fast">
        <h1 class="layer-slow">
            <span class="hello ">Hello, I’m</span><br />
            <span
  class="highlighted-name"
  [class.is-visible]="active"
>
  Gian Caorlin
</span>.
        </h1>
        <h2 class="layer-medium">Full-stack Developer & Industrial Designer</h2>
        <p>
        <p>
            I create tools and experiences that connect digital systems with the physical world.
            My work is driven by <strong>curiosity</strong>, shaped by <strong>technical precision</strong>,
            and sustained by <strong>resilience</strong>, spanning software development and design.
        </p>

        <p>
            With an industrial design background and a strong commitment to sustainable innovation,
            I’m now expanding into full-stack development to build thoughtful, functional, and scalable products.
        </p>

        <ul class="social layer-slow">
            <li><a href="mailto:caorlingiancarlo@gmail.com" class="btn-pill">Email</a></li>
            <li><a href="https://github.com/l5partanl" target="_blank" class="btn-pill">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/gian-caorlin" target="_blank" class="btn-pill">LinkedIn</a></li>
            <li><a href="https://instagram.com/gian.caorlin" target="_blank" class="btn-pill">Instagram</a></li>
        </ul>
    </div>

</div>

</div>