<div class="about">
  <div class="about-col photo layer-slow">
    <img src="/images/profile.png" alt="Gian Caorlin" />
  </div>

  <div class="about-col text">
    <h1 class="layer-slow">
      <img class="layer-slow" src="/images/lines/himynameis.png" alt="Gian" /><br />
      <span class="highlighted-name layer-slow" [class.is-visible]="active"> Gian Caorlin </span>.
    </h1>
    <h2 class="layer-fast">Full-stack Developer & Industrial Designer</h2>
    <p></p>
    <p class="layer-medium">
      I create tools and experiences that connect digital systems with the physical world. My work
      is driven by <strong>curiosity</strong>, shaped by <strong>technical precision</strong>, and
      sustained by <strong>resilience</strong>, spanning software development and design.
    </p>

    <p class="layer-medium">
      With an industrial design background and a strong commitment to sustainable innovation, I’m
      now expanding into full-stack development to build thoughtful, functional, and scalable
      products.
    </p>

    <ul class="social layer-slow">
      <li>
        <a href="mailto:caorlingiancarlo@gmail.com" class="icon-btn">
          <img src="/images/lines/mail.png" alt="Email" />
        </a>
      </li>

      <li>
        <a href="https://github.com/l5partanl" target="_blank" class="icon-btn">
          <img src="/images/lines/git.png" alt="GitHub" />
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/gian-caorlin" target="_blank" class="icon-btn">
          <img src="/images/lines/linkedin.png" alt="LinkedIn" />
        </a>
      </li>

      <li>
        <a href="https://instagram.com/gian.caorlin" target="_blank" class="icon-btn">
          <img src="/images/lines/insta.png" alt="Instagram" />
        </a>
      </li>
    </ul>
  </div>
</div>
