<section class="hero">
  <!-- GRID -->
  <div class="blueprint-grid"></div>

  <!-- HEADER LABEL -->

  <div class="bg-label layer-fast">
    <span>OBJECT STUDY</span>

    <small> DIGITAL / PHYSICAL SYSTEMS </small>
  </div>

  <!-- 3D OBJECT -->

  <app-model3d
    class="model"
    model="assets/models/donut.glb"
    [scale]="9"
    [rotY]="1.6"
    [rotX]="0.2"
    [rotZ]="0"
  >
  </app-model3d>

  <!-- DECOR ELEMENTS -->

  <div class="orbit orbit-one layer-slow"></div>

  <div class="orbit orbit-two layer-fast"></div>

  <div class="spec-card layer-slow">
    <span>DONUT_01</span>

    <span>3D / INTERACTION</span>

    <span>2026</span>
  </div>

  <div class="statement layer-medium">
    <h2>
      /*BUILDING
      <br />
      DIGITAL
      <br />
      OBJECTS*/
    </h2>
  </div>
</section>
