/* =====================================
   DIVIDER
===================================== */

:host {
  flex: 0 0 12vw;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  overflow: visible;

  pointer-events: none;
  opacity: 82%;
}

.divider {
  width: 250%;
  height: 180%;
  position: relative;
}

/* =====================================
   MOBILE
===================================== */

@media (max-width: 768px) {
  :host {
    width: 200%;
    height: 80vh;
    margin-left: -50vw;
    margin-top: -20vh;

    flex: 0 0 35vh;
  }
}
