.projects {
  height: 100%;
  display: flex;
  gap: 2rem;
  align-items: center;
  padding: 8vw;
}

.card {
  width: 300px;
  height: 200px;
  border: 1px solid rgba(255,255,255,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}