<section class="background">
  <!-- GRID -->
  <div class="blueprint-grid"></div>

  <!-- HEADER LABEL -->

  <div class="bg-label layer-fast">
    <span>OBJECT STUDY</span>

    <small> DIGITAL / PHYSICAL SYSTEMS </small>
  </div>

  <!-- 3D OBJECT -->

  <app-model3d class="model layer-medium"> </app-model3d>

  <!-- DECOR ELEMENTS -->

  <div class="orbit orbit-one layer-slow"></div>

  <div class="orbit orbit-two layer-fast"></div>

  <div class="spec-card layer-slow">
    <span>MODEL_01</span>

    <span>3D / INTERACTION</span>

    <span>2026</span>
  </div>

  <div class="statement layer-medium">
    <h2>
      DESIGNING
      <br />
      DIGITAL
      <br />
      OBJECTS.
    </h2>
  </div>
</section>
